<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_local_field :deadline %>
  </div>

  <div class="field">
    <%= form.label :ad_types %>
    <%= form.select :ad_types, AdType.all.collect {|t| [ t.name, t.id ] }, {include_hidden: false }, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :format %>
    <%= form.select :format, Post.formats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
